// set custom hex colors
$siteBgColorCustom: #F0E2E7;
$sidebarBgColorCustom: #676F54;

$textColorCustom: #252933;
$sidebarTextColorCustom: #B4C1C8;

$headlineColorCustom: #202A25;
$headingColorCustom: #17292b;

$bodyLinkColorCustom: #A5668B;
$navLinkColorCustom: #2B061E;
$sidebarLinkColorCustom: #F0E2E7;

$footerTextColorCustom: #B4C1C8;

$buttonTextColorCustom: #F0E2E7;
$buttonHoverTextColorCustom: #F0E2E7;

$buttonBgColorCustom: #676F54;
$buttonHoverBgColorCustom: #676F54;

$borderColorCustom: #bb9590;
