// set custom hex colors
$siteBgColorCustom: #F8F2F4;
$sidebarBgColorCustom: #A8B096;

$textColorCustom: #312A21;
$sidebarTextColorCustom: #312A21;

$headlineColorCustom: #312A21;
$headingColorCustom: #312A21;

$bodyLinkColorCustom: #DC7B04;
$navLinkColorCustom: #312A21;
$sidebarLinkColorCustom: #AD6A6C;

$footerTextColorCustom: #312A21;

$buttonTextColorCustom: #DC7B04;
$buttonHoverTextColorCustom: #AD6A6C;

$buttonBgColorCustom: #676F54;
$buttonHoverBgColorCustom: #676F54;

$borderColorCustom: #AD6A6C;
